#espaceAdminMain, #espaceAdminMain section {
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
}

#espaceAdminMain section {
    width: 40%;
}

#espaceAdminMain h1 {
    font-size: 200%;
}

.formAdmin form {
    width: 100%;
}

.navAdmin:hover {
    cursor: pointer;
}

.small_event_image{
    height:120px;
    width:130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


.navAdmin{
    background-color: black;
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   border-radius: 10px;
   display: block;
    color: grey;
 }


 .navAdmin:hover {
   color: #fff;
 }

 .modifUser {
     margin-bottom: 10vh;
 }

 .postCardAdmin {
     padding: 20px;
     margin-bottom: 20px;
 }

 .eachEventLine td {
     padding: 20px 5px 0px 5px;
 }


 .tableResponsive {
     padding: 10px;
     width: 100%;
     overflow-x: auto;
     display: inline-block;
 }

 .affichageReponseFormulaire {
text-align: center;
     color: grey;
 }

/*Phone*/
@media screen and (max-width: 640px) {
    #espaceAdminMain section {
        width: 80%;
    }

    #titleSectionAdmin {
        text-align: center;
    }
}
.margin_confirm_password{
    margin-bottom: 5px;
}