#blogArticleMain {
    min-height: 100vh;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-content: flex-start;
}

.containerPost {
    width: 50%;
    height: 50vh;
    min-height: 50vh;
    max-height: 50vh;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


.titrePost, .overlayPost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 400%;
    word-break: break-word;
    z-index: 1;
    text-transform: uppercase;
}

.overlayPost {
    z-index: 2;
    background-color: black;
    transition: 0.5s ease-in-out;
    transform: translateY(+500px);
    color: white;
    opacity: 0.8;
}

.containerPost:hover .overlayPost {
    transform: translateY(0px);
}

.imagePost {
    width: auto;
    height: 100%;
    opacity: 0.8;
    filter: saturate(0%);
}


/*MEDIA QUERIES*/
/*Tablet*/
@media screen and (max-width: 1024px) {
    .overlayPost {
        font-size: 200%;
    }
}

/*Phone*/
@media screen and (max-width: 640px) {
    #blogArticleMain {
        flex-direction: column;
    }

    .containerPost {
        width: 100%;
    }

    .overlayPost {
        justify-content: center;
        align-items: center;
    }
}