{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/about.css">
{% endblock %}

{% block content %}
<article id="articleAboutMain">
<article id="articleAboutText">

    <section id="sectionAboutTitle">
        <ul>
            <li>événement</li>
            <li>entreprise</li>
            <li>institutionnel</li>
            <li>communication</li>
            <li>management</li>
        </ul>
    </section>

    <section id="sectionAboutDescription">
        <p>Passionnée d’événementiel, je me suis lancée dans ce domaine...
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum</p>
    </section>

</article>

<article id="articleAboutPhoto">
    <section>
        <div class="aboutPhoto" id="containerAboutPhotoLarge"></div>
        <div class="aboutPhoto" id="containerAboutPhotoSmall"></div>
    </section>
    <a id="overlayAbout" draggable="true" class="white-grad" href="https://www.instagram.com/leazillweger/" target="blank"><span></span></a>
</article>
</article>
{% endblock %}