{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/about.css">
{% endblock %}

{% block content %}
<article id="articleAboutMain">
    <article id="articleAboutText">

        <section id="sectionAboutTitle">
            <ul>
                <li>événement</li>
                <li>entreprise</li>
                <li>institutionnel</li>
                <li>communication</li>
                <li>management</li>
            </ul>
        </section>

        <section id="sectionAboutDescription">
            <p>De Paris, à Toulouse et maintenant basée à Marseille, forte d’une expérience en gestion d’événements physique & digital, je vous propose mes services en vous accompagnant dans la réalisation et la réussite de vos évents.
                Spécialisée en coordination événementielle dans le secteur institutionnel et corporate.
                Passionnée par mon travail, j’interviens de la conception à la production, coordination logistique et la gestion sur le terrain.
                Mobile, je me déplace sur toute la France et à l’étranger !
                
                La crise de la Covid-19 nous ayant poussé à repenser nos événements, je travaille également sur la tenue d’événements digitaux ou hybrides en live-streaming.
                </p>
        </section>

    </article>

    <article id="articleAboutPhoto">
        <section>
            <div class="aboutPhoto" id="containerAboutPhotoLarge"></div>
            <div class="aboutPhoto" id="containerAboutPhotoSmall"></div>
        </section>
        <a id="overlayAbout" draggable="true" class="white-grad" href="https://www.instagram.com/leazillweger/"
           target="blank"><span></span></a>
    </article>
</article>
</article>
{% endblock %}