{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/admin.css" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{{BASE_PATH}}/css/admin_connexion.css">
{% endblock %}

{% block content %}
<article id="espaceAdminMain">

    <section>
        <h1>Espace d'administration</h1>
        <a class='deco_button' href="deconnexion">Deconnexion</a>
    </section>

    <section id="adminInscriptionSection" class="formAdmin">
        <h2>Inscrire un nouvel admin</h2>
        <form method="GET">
            <div>
                <label for="login_create_admin">Login</label>
                <input type="text" id="login_create_admin" name="login_create_admin" class="create_admin">
            </div>
            <div>
                <label for="password_create_admin">Mot de passe</label>
                <input type="password" id="password_create_admin" name="password_create_admin" class="create_admin">
            </div>
            <div>
                <label for="confirmation_password_create_admin">Confirmation du mot de passe</label>
                <input type="password" id="confirmation_password_create_admin" name="confirmation_password_create_admin"
                       class="create_admin">
            </div>
            <div>
                <button type="button" onclick="inscription()" id="submit_create_admin">Inscrire</button>
            </div>
        </form>
    </section>

    <section class="formAdmin">
        <h2>Créer un nouveau post</h2>
        <form method="GET">
            <div>
                <label for="titre">Titre</label>
                <input type='text' name='titre' id='titre' placeholder='titre du post..'>
            </div>
            <div>
                <label for="description">Description</label>
                <input type='text' name='description' id='description' placeholder='description du post..'>
            </div>
            <div>
                <label for="lien">Lien de partage</label>
                <input type='text' name='lien' id='lien' placeholder="lien de partage..">
            </div>
            <div>
                <button type='button' onclick="newPost()" name='submitNewPost'>Créer</button>
            </div>
        </form>
    </section>

    <section>
        <h2>Modifier les articles</h2>
        <table>
            <thead>
            <th>id_post</th>
            <th>id_admin</th>
            <th>Titre</th>
            <th>Lien</th>
            <th>Description</th>
            <th>Date</th>
            <th>Modifier</th>
            </thead>
            {% for post in allPost %}
            <tbody>
            <form method="GET">
                <tr>
                    <td>
                        {{ post['id'] }}
                    </td>
                    <td>
                        {{ post['id_admin'] }}
                    </td>
                    <td>
                        <input type="text" name="modifyPostTitle" value="{{ post['titre'] }}">
                    </td>
                    <td>
                        <input type="text" name="modifyPostLink" value="{{ post['lien'] }}">
                    </td>
                    <td>
                        <textarea cols="35" name="modifyPostDescription" row="20">{{ post['description'] }}</textarea>
                    </td>
                    <td class="td_large">
                        {{ post['date'] }}
                    </td>
                    <td>
                        <button  type="button"class='input_changer' onclick='modifyPost()'>Modifier</button>
                        <input type="hidden" name="hiddenPostID" value="{{ post['id'] }}">
                    </td>
                    <td>
                        <button type="button" class="input_suppr" onclick='deletePost()'>Supprimer</button>
                        <input type="hidden" id="hiddenPostID_del" value="{{ post['id'] }}">

                    </td>
                </tr>
            </form>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <!-- event -->

    <section>
        <h1>Images événements</h1>
        <!-- Modify Profil Card -->
        <table>
        {% for value in allEvent %}
        <div class="">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="">
                    <tr>
                        <td>
                            <label for="picture">{{ value.type }}</label>
                        </td>
                        <td>
                            <input class='' type="file" name="picture" id="picture">

                        </td>
                        <td>

                            <img src="{{ value.path }}" class="small_event_image" alt="event img">
                        </td>
                        <td>
                            <input type="submit" class='input_changer' name="submitPicture" id="submitPicture" value="Changer">
                            <input type="hidden" name="hiddenType" value="{{ value.type }}">
                            <input type="hidden" name="hiddenId" value="{{ value.id }}">

                        </td>
                    </tr>
                    
                </div>
            </form>
        </div>
        {% endfor %}
    </table>
    </section>

</article>
{% endblock %}
{% block script %}

<!-- <script src="{{BASE_PATH}}/js/admin.js"></script> -->
<script src="{{BASE_PATH}}/js/admin_connexion.js"></script>
<script src="{{BASE_PATH}}/js/post.js"></script>

{% endblock %}