{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/article.css">
{% endblock %}

{% block content %}
<article id="articleMain">

    <section class="containerDataArticle">
        <div>
            <p class="titreArticle">{{selectedPost.titre}}</p>
            <p>{{selectedPost.date}}</p>
        </div>
        <div>
                <p class="descriptionArticle">{{selectedPost.description}}</p>
                <a class="lienExterneArticle" href="{{selectedPost.lien}}">lien externe</a>
        </div>
    </section>
    <section class="containerImageArticle">
{% if selectedPost.type == "photo" %}

<img class="imageArticle" src="{{selectedPost.lien}}">
    {% elseif selectedPost.type == "video" %}

    {{selectedPost.lien|raw}}

    {% endif %}

    </section>
</article>

<section id="suggestion_section">
    {% for value in suggestion %}
        {% if value.type == "photo" %}
        <div class="suggestion_div">
            <img src="{{value.lien}}" class="suggestion_img">
            <p>{{value.titre}}</p>
        </div>
        {% elseif value.type == "video" %}
        <div class="suggestion_div">
            {{value.lien|raw}}
            <p>{{value.titre}}</p>
        </div>
        
        {% endif %}
        {% endfor %}
    </section>
{% endblock %}
{% block script %}

<!--<script src="{{BASE_PATH}}/js/blog.js"></script>-->

{% endblock %}