{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/article.css">
{% endblock %}

{% block content %}
<article id="articleMain">

    <section class="containerDataArticle">
        <div>
            <p class="titreArticle">{{selectedPost.titre}}</p>
            <p>{{selectedPost.date}} - <a class="lienExterneArticle" href="{{selectedPost.lien}}">source</a></p>
        </div>
        <div>
            <p class="descriptionArticle">{{selectedPost.description}}</p>
        </div>
    </section>

    <section class="containerImageArticle">
        {% if selectedPost.type == "photo" %}
        <img class="imageArticle" src="{{selectedPost.lien}}">
        {% elseif selectedPost.type == "video" %}
        {{selectedPost.lien|raw}}
        {% endif %}
    </section>


    <section id="suggestion_section">
        <p>Voir + </p>
        <div id="suggestion_sectionDiv">
            {% for value in suggestion %}
            <div class="suggestion_div">
                {% if value.type == "photo" %}
                <img src="{{value.lien}}" class="suggestion_img">
                {% elseif value.type == "video" %}
                {{value.lien|raw}}
                {% endif %}
                <a href="{{BASE_PATH}}/article?id={{value.id}}" target="blank" class="overlayPost">{{value.titre}}</a>
            </div>
            {% endfor %}
        </div>
    </section>

</article>
{% endblock %}
{% block script %}

<script src="{{BASE_PATH}}/js/blog.js"></script>
<script src="{{BASE_PATH}}/js/article.js"></script>

{% endblock %}