{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/blog.css">
{% endblock %}
{% block content %}

<article id="blogArticleMain">

    {% for value in allPost %}
    <section class="containerPost">
    {% if value.type == "photo" %}
    <!-- <section class="containerPost"> -->
            <img class="imagePost" src="{{value.lien}}">   
        {% elseif value.type == "video" %}
        <!-- <section class="containerPost_video"> -->
    
        {{value.lien|raw}}
        {% endif %}


        <p class="titrePost">{{value.titre}}</p>
        <a href="{{BASE_PATH}}/article?id={{value.id}}" target="blank" class="overlayPost">{{value.titre}}<br>Voir + </a> <!--Lien vers la page "article" avec l'id de l'article en paramètre-->
    </section>
    {% endfor %}
</article>

{% endblock %}
{% block script %}

<!--<script src="{{BASE_PATH}}/js/blog.js"></script>-->

{% endblock %}