{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/event.css">
{% endblock %}


{% block content %}
<article id="evenement_container">

    <!--<section id="text">
        <ul>
            <li onmouseover="selectedImg('seminaire')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>SÉMINAIRE</a></li>
            <li onmouseover="selectedImg('soiree')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>SOIRÉE D’ENTREPRISE</a></li>
            <li onmouseover="selectedImg('ceremonie')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>CÉRÉMONIE DE REMISE</a></li>
            <li onmouseover="selectedImg('conference')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>CONFÉRENCE</a></li>
            <li onmouseover="selectedImg('congres')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>CONGRÈS</a></li>
            <li onmouseover="selectedImg('captation')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>CAPTATION VIDÉO</a></li>
            <li onmouseover="selectedImg('hybride')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>HYBRIDE</a></li>
            <li onmouseover="selectedImg('digital')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>DIGITAL</a></li>
            <li onmouseover="selectedImg('lancement')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>LANCEMENT PRODUIT</a></li>
            <li onmouseover="selectedImg('exposition')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>EXPOSITION</a></li>
            <li onmouseover="selectedImg('assemblee')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>ASSEMBLEE GENERALE</a></li>
            <li onmouseover="selectedImg('opening')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>OPENING</a></li>
            <li onmouseover="selectedImg('vernissage')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>VERNISSAGE</a></li>
            <li onmouseover="selectedImg('sportif')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>SPORTIF</a></li>
            <li onmouseover="selectedImg('partenaire')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>PARTENAIRE</a></li>
            <li onmouseover="selectedImg('inauguration')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>INAUGURATION</a></li>
            <li onmouseover="selectedImg('crazy')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>CRAZY BIRTHDAY</a></li>
            <li onmouseover="selectedImg('concert')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>CONCERT</a></li>
            <li onmouseover="selectedImg('salon')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>SALON</a></li>
            <li onmouseover="selectedImg('classique')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>CLASSIQUE</a></li>
            <li onmouseover="selectedImg('danse')" onmouseout="unSelectedImg(this)"><a><span class="strikeBar"></span>DANSE</a></li>
        </ul>
    </section>-->

    <section id="text">
        <ul>
            <li onmouseover="selectedImg('seminaire')"><a><span class="strikeBar"></span>SÉMINAIRE</a></li>
            <li onmouseover="selectedImg('soiree')"><a><span class="strikeBar"></span>SOIRÉE D’ENTREPRISE</a></li>
            <li onmouseover="selectedImg('ceremonie')"><a><span class="strikeBar"></span>CÉRÉMONIE DE REMISE</a></li>
            <li onmouseover="selectedImg('conference')"><a><span class="strikeBar"></span>CONFÉRENCE</a></li>
            <li onmouseover="selectedImg('congres')"><a><span class="strikeBar"></span>CONGRÈS</a></li>
            <li onmouseover="selectedImg('captation')"><a><span class="strikeBar"></span>CAPTATION VIDÉO</a></li>
            <li onmouseover="selectedImg('hybride')"><a><span class="strikeBar"></span>HYBRIDE</a></li>
            <li onmouseover="selectedImg('digital')"><a><span class="strikeBar"></span>DIGITAL</a></li>
            <li onmouseover="selectedImg('lancement')"><a><span class="strikeBar"></span>LANCEMENT PRODUIT</a></li>
            <li onmouseover="selectedImg('exposition')"><a><span class="strikeBar"></span>EXPOSITION</a></li>
            <li onmouseover="selectedImg('assemblee')"><a><span class="strikeBar"></span>ASSEMBLEE GENERALE</a></li>
            <li onmouseover="selectedImg('opening')"><a><span class="strikeBar"></span>OPENING</a></li>
            <li onmouseover="selectedImg('vernissage')"><a><span class="strikeBar"></span>VERNISSAGE</a></li>
            <li onmouseover="selectedImg('sportif')"><a><span class="strikeBar"></span>SPORTIF</a></li>
            <li onmouseover="selectedImg('partenaire')"><a><span class="strikeBar"></span>PARTENAIRE</a></li>
            <li onmouseover="selectedImg('inauguration')"><a><span class="strikeBar"></span>INAUGURATION</a></li>
            <li onmouseover="selectedImg('crazy')"><a><span class="strikeBar"></span>CRAZY BIRTHDAY</a></li>
            <li onmouseover="selectedImg('concert')"><a><span class="strikeBar"></span>CONCERT</a></li>
            <li onmouseover="selectedImg('salon')"><a><span class="strikeBar"></span>SALON</a></li>
            <li onmouseover="selectedImg('danse')"><a><span class="strikeBar"></span>DANSE</a></li>
            <li onmouseover="selectedImg('cocktail')"><a><span class="strikeBar"></span>COCKTAIL</a></li>
        </ul>
    </section>

    <section id="picture">
        <div id="shownPicture"></div>
    </section>

</article>

{% endblock %}

{% block script %}
<!--<script src="{{BASE_PATH}}/js/evenement.js"></script>-->
<script src="{{BASE_PATH}}/js/event.js"></script>
{% endblock %}