{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/event.css">
{% endblock %}


{% block content %}

<section id="evenement_container">


    <div id="text">
        
        <p onmouseover="selectedImg('seminaire')" onmouseout="unSelectedImg(this)">SÉMINAIRE</p> 
        <p onmouseover="selectedImg('soiree')" onmouseout="unSelectedImg(this)">SOIRÉE D’ENTREPRISE</p> 
        <p onmouseover="selectedImg('ceremonie')" onmouseout="unSelectedImg(this)">CÉRÉMONIE DE REMISE </p>
        <p onmouseover="selectedImg('conference')" onmouseout="unSelectedImg(this)">CONFÉRENCE </p>
        <p onmouseover="selectedImg('congres')" onmouseout="unSelectedImg(this)">CONGRÈS</p> 
        <p onmouseover="selectedImg('captation')" onmouseout="unSelectedImg(this)">CAPTATION VIDÉO</p>
        <p onmouseover="selectedImg('hybride')" onmouseout="unSelectedImg(this)">HYBRIDE</p> 
        <p onmouseover="selectedImg('digital')" onmouseout="unSelectedImg(this)">DIGITAL </p>
        <p onmouseover="selectedImg('lancement')" onmouseout="unSelectedImg(this)">LANCEMENT PRODUIT </p>
        <p onmouseover="selectedImg('exposition')" onmouseout="unSelectedImg(this)">EXPOSITION</p>
        <p onmouseover="selectedImg('assemblee')" onmouseout="unSelectedImg(this)">ASSEMBLEE GENERALE </p>
        <p onmouseover="selectedImg('opening')" onmouseout="unSelectedImg(this)">OPENING</p> 
        <p onmouseover="selectedImg('vernissage')" onmouseout="unSelectedImg(this)">VERNISSAGE</p>
        <p onmouseover="selectedImg('sportif')" onmouseout="unSelectedImg(this)">SPORTIF</p>
        <p onmouseover="selectedImg('partenaire')" onmouseout="unSelectedImg(this)">PARTENAIRE</p>
        <p onmouseover="selectedImg('inauguration')" onmouseout="unSelectedImg(this)">INAUGURATION</p>
        <p onmouseover="selectedImg('crazy')" onmouseout="unSelectedImg(this)">CRAZY BIRTHDAY</p>
        <p onmouseover="selectedImg('concert')" onmouseout="unSelectedImg(this)">CONCERT </p>
        <p onmouseover="selectedImg('salon')" onmouseout="unSelectedImg(this)">SALON </p>
        <p onmouseover="selectedImg('classique')" onmouseout="unSelectedImg(this)">CLASSIQUE</p>
        <p onmouseover="selectedImg('danse')" onmouseout="unSelectedImg(this)">DANSE</p> 
        
    </div>
    <div id="picture">
        <div id="shownPicture"></div>
        
    </div>
</section>

{% endblock %}

{% block script %}

    <script src="{{BASE_PATH}}/js/evenement.js"></script>

{% endblock %}