{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/event.css">
{% endblock %}


{% block content %}
<article id="evenement_container">
    <section id="text">
        <ul>
            <li onclick="selectedImg('seminaire')" onmouseover="selectedImg('seminaire')"><a><span class="strikeBar"></span>SÉMINAIRE</a></li>
            <li onclick="selectedImg('soiree')" onmouseover="selectedImg('soiree')"><a><span class="strikeBar"></span>SOIRÉE D’ENTREPRISE</a></li>
            <li onclick="selectedImg('ceremonie')" onmouseover="selectedImg('ceremonie')"><a><span class="strikeBar"></span>CÉRÉMONIE DE REMISE</a></li>
            <li onclick="selectedImg('conference')" onmouseover="selectedImg('conference')"><a><span class="strikeBar"></span>CONFÉRENCE</a></li>
            <li onclick="selectedImg('congres')" onmouseover="selectedImg('congres')"><a><span class="strikeBar"></span>CONGRÈS</a></li>
            <li onclick="selectedImg('captation')" onmouseover="selectedImg('captation')"><a><span class="strikeBar"></span>CAPTATION VIDÉO</a></li>
            <li onclick="selectedImg('hybride')" onmouseover="selectedImg('hybride')"><a><span class="strikeBar"></span>HYBRIDE</a></li>
            <li onclick="selectedImg('digital')" onmouseover="selectedImg('digital')"><a><span class="strikeBar"></span>DIGITAL</a></li>
            <li onclick="selectedImg('lancement')" onmouseover="selectedImg('lancement')"><a><span class="strikeBar"></span>LANCEMENT PRODUIT</a></li>
            <li onclick="selectedImg('exposition')" onmouseover="selectedImg('exposition')"><a><span class="strikeBar"></span>EXPOSITION</a></li>
            <li onclick="selectedImg('assemblee')" onmouseover="selectedImg('assemblee')"><a><span class="strikeBar"></span>ASSEMBLEE GENERALE</a></li>
            <li onclick="selectedImg('opening')" onmouseover="selectedImg('opening')"><a><span class="strikeBar"></span>OPENING</a></li>
            <li onclick="selectedImg('vernissage')" onmouseover="selectedImg('vernissage')"><a><span class="strikeBar"></span>VERNISSAGE</a></li>
            <li onclick="selectedImg('sportif')" onmouseover="selectedImg('sportif')"><a><span class="strikeBar"></span>SPORTIF</a></li>
            <li onclick="selectedImg('partenaire')" onmouseover="selectedImg('partenaire')"><a><span class="strikeBar"></span>PARTENAIRE</a></li>
            <li onclick="selectedImg('inauguration')" onmouseover="selectedImg('inauguration')"><a><span class="strikeBar"></span>INAUGURATION</a></li>
            <li onclick="selectedImg('crazy')" onmouseover="selectedImg('crazy')"><a><span class="strikeBar"></span>CRAZY BIRTHDAY</a></li>
            <li onclick="selectedImg('concert')" onmouseover="selectedImg('concert')"><a><span class="strikeBar"></span>CONCERT</a></li>
            <li onclick="selectedImg('salon')" onmouseover="selectedImg('salon')"><a><span class="strikeBar"></span>SALON</a></li>
            <li onclick="selectedImg('danse')" onmouseover="selectedImg('danse')"><a><span class="strikeBar"></span>DANSE</a></li>
            <li onclick="selectedImg('danse')" onmouseover="selectedImg('danse')"><a><span class="strikeBar"></span>COCKTAIL</a></li>
        </ul>
    </section>

    <section id="picture">
        <div id="shownPicture"></div>
    </section>

</article>

{% endblock %}

{% block script %}
<script src="{{BASE_PATH}}/js/event.js"></script>
{% endblock %}