
{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/footer.css">
{% endblock %}


<article id='footer'>
    <section id="section_name">
        <h3>Zill'Event <br>by Léa Zillweger</h3>
        <div id="show">
            <a href="mailto:lea@zill-event.com">lea@zill-event.com</a>
            <p>07 69 66 02 49</p>
        </div>
    </section>
    <section id="section_infos">
        <div class="hide">
            <ul>
                <li>événement</li>
                <li>entreprise</li>
                <li>institutionnel</li>
                <li>communication</li>
                <li>management</li>
            </ul>
        </div>

        <div class="hide">
            <a href="mailto:lea@zill-event.com">lea@zill-event.com</a>
            <p>07 69 66 02 49</p>
        </div>

        <div>
            <ul>
                <li><a target="blank" href="https://www.facebook.com/lea.zillweger.94/">facebook</a></li>
                <li><a target="blank" href="https://www.instagram.com/leazillweger/">instagram</a></li>
                <li><a target="blank" href="https://www.linkedin.com/in/leazillweger/">linkedin</a></li>
            </ul>
        </div>

        <div class="hide">
            <p>Paris & the world</p>
            <p>Marseille</p>
        </div>
    </section>
</article>
