<section>
    <nav>
        <ul>
            <li><a href="{{BASE_PATH}}/">ACCUEIL</a></li>
            <li><a href="{{BASE_PATH}}/about">A PROPOS</a></li>
            <li><a href="{{BASE_PATH}}/work">ÉVÉNEMENTS</a></li>
            <li><a href="{{BASE_PATH}}/skills">COMPÉTENCES</a></li>
            <li><a href="{{BASE_PATH}}/articles">ARTICLES</a></li>
            <li><a href="{{BASE_PATH}}/work">TÉMOIGNAGES</a></li>
        </ul>
    </nav>
</section>

<section>
    <article><a href="mailto:lea@zill-event.com">lea@zill-event.com</a></article>
    <article><a href="https://www.instagram.com/leazillweger" target="blank">@leazillweger</a></article>
    <article><p>07 69 66 04 49</p></article>
</section>