{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/skills.css">
{% endblock %}

{% block content %}
<article id="articleSkills">

<!-- 
    Gestions de tous types d’évènements 
    < On peut faire dérouler la liste des événements ?
    < Ou bien mettre tous les noms en blanc sur un fond noir ? -->
    
    



    <section class="sectionSkill" id="skill1">
        <div class="imageSkill"></div>
        <div class="titleSkill"><span><h2>ÉVÉNEMENT</h2></span></div>
    </section>


    <section class="sectionSkill" id="skill2">
        <div class="titleSkill"><span><h2>INSTITUTIONNEL</h2></span></div>
        <div class="imageSkill">      
            <p>L'importance du protocole
            Il n’existe pas d’événement institutionnel qui ne comporte pas de protocole strict, ce qui doit être vu dans la préséance des personnalités et des symboles, dans les présidences et dans l’emplacement des invités. La clé de l'organisation d'un événement consiste à diffuser une image ou un message spécifique, à générer une conversation entre les invités et dans les médias, qu'ils soient classiques ou sociaux. 
            Chez Zill’Event, nous nous occupons du protocole, du traitement des assistants et de leur distribution afin que tout se déroule parfaitement.
            >> Respect du timing & minimisation des imprévus 
            </p></div>
  
    </section>


    <section class="sectionSkill" id="skill3">
        <div class="titleSkill"><span><h2>LOGISTIQUE</h2></span></div>
        <div class="imageSkill">    
    
           <p> En tant qu’expert en logistique événementielle, Zill' Event veille à ce que l’ensemble des ressources nécessaires soient mises en place pour la réalisation de votre événement : 
            Vérification du matériel nécessaire & de son bon fonctionnement
            Achat ou location de tous les éléments utiles à l’événement
            Installation scénique 
            Présence au montage et démontage des installations
            Gestion des autorisations administratives 
            Stationnement (mise en place d’un parking). 
            Répétition lumières & sonorisation
            Installation scénique
            Restauration client / catering 
            
            >> Veille constante au bon déroulement  
            
            Vous l’aurez compris, la logistique événementielle regroupe énormément de choses. Elle est indispensable à la réussite de votre événement. C’est donc pour cela qu’il est souvent nécessaire de faire appel à des professionnels. 
            
            En tant qu’experts, la logistique n’a plus aucun secret. 
            Budget, lieux, matériels, stationnement ou encore restauration, Zill'Event s’occupent de tout ! 
            N’attendez plus et donnez vie à vos projets événementiels !   </p>
            </div>
    </section>

</article>
{% endblock %}