{% extends "template.twig.html" %}

{% block style %}
<link rel="stylesheet" href="{{BASE_PATH}}/css/skills.css">
{% endblock %}

{% block content %}
<article id="articleSkills">

    <section class="sectionSkill" id="skill2">
        <div class="imageSkill"></div>
        <div class="titleSkill"><span><h2>TITLE SKILL</h2></span></div>
    </section>


    <section class="sectionSkill" id="skill1">
        <div class="titleSkill"><span><h2>TITLE SKILL</h2></span></div>
        <div class="imageSkill"></div>
    </section>


    <section class="sectionSkill" id="skill2">
        <div class="imageSkill"></div>
        <div class="titleSkill"><span><h2>TITLE SKILL</h2></span></div>
    </section>

</article>
{% endblock %}