<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content=" *** A compléter ***">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <title>Zill-Event by Lea Zillweger</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block style %}
    <!--- Trumbowyg --->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="{{ BASE_PATH }}"> -->
    {% endblock %}

    <noscript>Your browser does not support JavaScript!</noscript>
</head>
<body>
<header>
    {% include 'header.twig.html' %}
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    {% include 'footer.twig.html' %}
</footer>
{% block script %}
{% endblock %}
</body>
</html>